
@use 'variables' as v; //crea una alias con (as) 


html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    background-color: v.$fondo;
    font-size: 1.6rem;
    line-height: 1.8;
    font-family: v.$fuente_principal;
    color:  v.$blanco;
    
  }
  h1,
  h2,
  h3 {
    font-weight: 900;
    margin: 2rem 0;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
    margin: 5rem 0;
    background-color: v.$fondo;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, inset 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, inset 5px 5px 15px 5px rgba(0,0,0,0);

  }
  h2 {
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0;
  }
  h3 {
    font-size: 3rem;
  }
  a {
    color: v.$blanco;
    text-decoration: none;
  }
  img {
    max-width: 100%;
    display: block;
  }
  li{
    list-style: none;
  }
  p{
    line-height: 2;
    letter-spacing: 1.5px;
    margin-top: 5rem;
  }
  
  /**Selector de atributos reutilizable para las clases que terminan en __ contenedor**/
  [class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    background-color: v.$contenedor;
    padding: 5rem 3rem;
  }